<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ban_hang">
        <activity
            android:name=".pages_admin.page_admin_detail_order"
            android:exported="false" />
        <activity
            android:name=".pages.page_detail_activity"
            android:exported="false" />
        <activity
            android:name=".pages_admin.page_admin_Edit_Product"
            android:exported="false" />
        <activity
            android:name=".pages_admin.page_admin_Edit_user"
            android:exported="false" />
        <activity
            android:name=".pages_admin.page_admin_Edit_cate"
            android:exported="false" />
        <activity
            android:name=".pages.page_intro_activity"
            android:exported="false" />
        <activity
            android:name=".pages_admin.page_admin_activity"
            android:exported="false" />
        <activity
            android:name=".pages.page_dangki_activity"
            android:exported="false" />
        <activity
            android:name=".pages.page_home_activity"
            android:exported="false" />
        <activity
            android:name=".pages.page_login_activity"
            android:exported="false" />
        <activity
            android:name=".pages.page_cart_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>